@import "tailwindcss";



/* =========================
   VARIABLES Y CONFIGURACIÓN
========================= */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #e0e7ff;           /* texto claro */
  background-color: #1e1e2f; /* fondo oscuro principal */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* =========================
   ENLACES
========================= */
a {
  font-weight: 500;
  color: #3b82f6; /* azul principal para links */
  text-decoration: inherit;
}
a:hover {
  color: #60a5fa; /* azul hover */
}



/* =========================
   TITULOS
========================= */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffffff; 
}

.uf-title {
  font-size: 2.5rem;        /* ajusta como quieras */
  font-weight: bold;
  color: #1c293d;           /* equivalente a text-blue-900 de Tailwind */
  text-align: center;
  margin-bottom: 2rem;       /* mb-8 en Tailwind */
}



/* =========================
   BOTONES
========================= */
button {
  background-color: #3b82f6;
  color: #ffffff;
}
button:hover {
  background-color: #2563eb;
}

.logout-btn {
  background-color: rgb(95,85,85);
  color: white;
  transition: background-color 0.3s;
}
.logout-btn:hover {
  background-color: rgb(115,100,100);
}

/* =========================
   INPUTS
========================= */
.date-input {
  color: #000000;            /* texto negro */
  background-color: #ffffff; /* fondo blanco */
}
